# Database connection string
DATABASE_URL=postgresql://username:password@localhost:5432/database_name

# Recommendation Settings
TOP_N=50
USER_BASED=True
MIN_USER_RATINGS=3
MIN_BOOK_RATINGS=3
KNN_K=30
